
  <div id="chili-chat">

    <form name="chat">
      <div class="input-group">
        <input type="text" ng-model="chatInput" maxlength="140" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" ng-disabled="chat.$invalid || chatInput.length < 1" ng-click="postChat()">
            <span class="glyphicon glyphicon-comment"></span>
            <span class="tiny">{{140 - chatInput.length}}</span>
          </button>
        </span>
      </div>
    </form>

    <div class="chatbox">
      <div class="row" ng-repeat="message in messages | orderBy:'-$id' ">
        <div class="col-xs-3 username" ng-bind="message.user"></div>
        <div class="col-xs-9 message" ng-bind="message.text"></div>
      </div>
    </div>
  </div>