
<div class="row" style="background: url('{{detail.photo}}'); background-size:cover;')">
  <div class="col-xs-12">

    <div class="chili-detail content-padding">
      <h3>{{detail.title}}</h3>
      <div>
        {{detail.description}}
      </div>

      <form name="form" role="form">
        <div class="form-group">
          <label>Presentation / Color: {{rating.presentation}}</label>
          <input type="range" ng-model="rating.presentation" min="0" max="10" step="1" required to-number ng-disabled="isRated" />
        </div>
        <div class="form-group">
          <label>Aroma: {{rating.aroma}}</label>
          <input type="range" ng-model="rating.aroma" min="0" max="10" step="1" required to-number ng-disabled="isRated" />
        </div>
        <div class="form-group">
          <label>Texture: {{rating.texture}}</label>
          <input type="range" ng-model="rating.texture" min="0" max="10" step="1" required to-number ng-disabled="isRated" />
        </div>
        <div class="form-group">
          <label>Taste: {{rating.taste}}</label>
          <input type="range" ng-model="rating.taste" min="0" max="10" step="1" required to-number ng-disabled="isRated" />
        </div>
        <div class="form-group">
          <label>After Taste: {{rating.aftertaste}}</label>
          <input type="range" ng-model="rating.aftertaste" min="0" max="10" step="1" required to-number ng-disabled="isRated" />
        </div>
        <div class="form-group">
          <label>Tasting Notes:</label>
          <textarea ng-model="rating.commentary" ng-disabled="isRated"></textarea>
        </div>
        <div style="text-align:center">
          <button type="submit" class="btn btn-default btn-lg" ng-click="rate()" ng-disabled="form.$invalid" ng-hide="isRated">Rate</button>
        </div>
      </form>

    </div>

  </div>
</div>