<h4>Pick a chili to rate</h4>

<div class="chili-card mdl-card mdl-shadow--2dp" ng-repeat="item in entries">
  <div class="mdl-card__title" style="background: url('{{item.photo}}') center / cover;">
  </div>
  <div class="mdl-card__supporting-text">
    <h3 class="mdl-card__title-text" ng-bind="item.title"></h3>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-js-button  mdl-button--raised mdl-button--colored" ng-hide="item.rating[auth.username]" ng-href="#/Chili/{{item.$id}}">Rate it!</a>
    <div ng-show="item.rating[auth.username]">Rated: <div class='fire-gfx-ranking' style='width: {{formatRating(item.rating[auth.username])}}%;'></div></div>
  </div>
</div>  
<div ng-if="entries.length == 0">No Chili found. Somebody start cooking!</div>
