  <div ng-controller="ChiliList" class="content-padding">
    <h2>Pick a chili to rate</h2>
    <ul class="media-list">
        <li ng-repeat="item in entries" class="media">
          <a class="pull-left" ng-href="#/Chili/{{item.$id}}">
            <img ng-src="{{item.photo}}" width="64" height="64" />
          </a>
          <div class="media-body">
            <h4 class="media-heading" ng-bind="item.title"></h4>
          </div>
        </li>
        <li ng-if="entries.length == 0">No Chili found. Somebody start cooking!</li>
    </ul>
  </div>
