

<div class="row content-padding">
  <div class="col-xs-12">
    <h1>Login</h1>

    <form role="form">
      <input type="text" class="form-control" ng-model="auth.username" ng-required="true" mg-minlength="4" placeholder="Enter name">
      <button type="submit" class="btn btn-default" ng-click="enter()" ng-disabled="auth.username.length < 4">Submit</button>
    </form>
  </div>
</div>



<!--
    <div ng-show="auth.firebase.user">
      <p>Hello, {{auth.user.displayName}}</p>
      <button ng-click="auth.firebase.$logout()">Logout</button>
    </div>
    <div ng-hide="auth.firebase.user">
      <p>Welcome, please log in.</p>
      <button ng-click="auth.firebase.$login('google')">Login</button>
    </div>
  -->