

<div class="row content-padding">
  <div class="col-xs-12">

    <h1>5th Annual Chili Cookoff!</h1>

    <p>Welcome to the 5th Annual Chili Cookoff!</p>
    <p>This app will allow you to rate each chili entered.  To begin, <strong>please enter your name</strong> without any punctuation to create a profile.</p>

    <form role="form">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="username" ng-required="true" ng-minlength="4" placeholder="Enter name">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" ng-click="enter()" ng-disabled="username.length < 4">Begin <span class="glyphicon glyphicon-chevron-right" /></button>
        </span>
      </div>
    </form>
  </div>
</div>



<!--

<span class="glyphicon glyphicon-fire warning" />


    <div ng-show="auth.firebase.user">
      <p>Hello, {{auth.user.displayName}}</p>
      <button ng-click="auth.firebase.$logout()">Logout</button>
    </div>
    <div ng-hide="auth.firebase.user">
      <p>Welcome, please log in.</p>
      <button ng-click="auth.firebase.$login('google')">Login</button>
    </div>
  -->