
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
  background: #F2F2F2; /* Alt: #D1DBBD */
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  color: #400101;
  margin-bottom: 20px;
}

.add-form { margin-top: 1em; }
.add-form input, .add-form textarea {
  width: 100%;
}

.content-padding {
  padding: 0 1em;
}

#chili-nav {
  border-bottom: 2px solid #BF0404;
  background: #f2f2f2;
}

#chili-chat {
  color: #333;
  background: #F2F2F2;
  height: 100%;
}

#chili-chat input[type=text] {
  width: 100%;
  line-height: 2;
}

#chili-chat .username {
  color:590202;
}

.chatbox {
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  top: 85px;
  overflow: auto;
  padding: 0 1em;
}
.chatbox .row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #D1DBBD;
}

.chili-detail {
  margin: 3em 0.5em 1em 1em;
  border: 1px solid #333;
  color: #333;
  background: rgba(250,250,250,0.85);
  border-radius: 0.5em;
}
.chili-detail textarea {
  display: block;
  width: 100%;
  height: 4em;
}

.nav-pills>li+li {
  margin-left: 1em;
}


.ranking {
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0 6px 4px 8px;
  width: 64px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  display: block;
}
.rank-desc {
  font-size: smaller;
}

.fire-gfx-ranking {
background-image: url(images/fire.png);
background-repeat: repeat-x;
width: 100%;
height: 80px;
background-size: 20px 30px;
background-position: top left;

/*  background: url("images/fire.gif") repeat-x top left;
  width: 100%;
  height: 30px;
  background-size: 30px 30px;*/
 /* background-image: url(images/fire.gif);
  background-repeat: repeat-x;
  width: 100%;
  height: 30px;*/
}


.row{
  margin-left:0px;
}

.col-xs-12{
  padding-left:0px;
  padding-right:0px;
}

input[type=range]{
  width:100%;
}