
body {
  background: #F2F2F2; /* Alt: #D1DBBD */
}

h1, h2, h3 {
  color: #400101;
  border-bottom: 1px solid #590202;
}

.content-padding {
  padding: 0 1em;
}

#chili-nav {
  border-bottom: 2px solid #BF0404;
  background: #f2f2f2;
}

#chili-chat {
  color: #333;
  background: #F2F2F2;
  height: 100%;
}

#chili-chat input[type=text] {
  width: 100%;
  line-height: 2;
}

#chili-chat .username {
  color:590202;
}

.chatbox {
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  top: 85px;
  overflow: auto;
  padding: 0 1em;
}
.chatbox .row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #D1DBBD;
}

.chili-detail {
  margin: 3em 1em 1em 1em;
  border: 1px solid #333;
  color: #333;
  background: rgba(250,250,250,0.85);
  border-radius: 0.5em;
}


